@model ICollection<Order>


<div class="container text-center mt-3">
   
    <table class="table table-bordered">
        <tr>
            <th colspan="3" class="h3 bg-light text-success">Order List</th>
            
        </tr>
        <tr>
            <th>Order Id</th>
            <th>Book Title</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Date</th>
            <th>Email</th>
            <th>Action</th>
        </tr>


        @foreach (var order in Model)
        {
            <tr>
                <td>@order.Id</td>
                <td>
                    <a class="font-weight-bold" asp-controller="Book" asp-action="Detail" asp-route-id="@order.Id">
                        <img src="@order.Book.Image" width="100" height="100">
                    </a>
                </td>
                <td>
                    @order.OrderQuantity
                </td>
                <td>
                    @order.OrderPrice
                </td>
                <td>
                    @order.OrderDate
                </td>
                <td>
                    @order.UserEmail
                </td>
                <td>
                    <a class="btn btn-danger" asp-controller="Order" asp-action="Delete" asp-route-id="@order.Id"
                   onclick="    return confirm('Are you sure to delete this order ?');">
                        Delete
                    </a>
                </td>
            </tr>
        }
    </table>
</div>

